<div class="container">
	<div class="index_panels">
	<div class="row">
		<div class="col-sx-4 col-sm-6 col-ml-6 col-lg-6">
    		<div class="panel panel-default">
				<div class="panel-body">
				
				<h1>RECIVE:</h1>
				<h3>a recomendation to decide what to watch!</h3>
				<div class="recive_photo">
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				</div>
				</div>
			</div>
		</div>
		<div class="col-sx-4 col-sm-6 col-ml-6 col-lg-6">
    		<div class="panel panel-default">
				<div class="panel-body">
				<h1>GIVE:</h1>
				<h3>a recomendation to someone in need!</h3>
				<div class="give_photo">
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>				
